<%- include('../header'); -%>
<%- include('./secondHeader.ejs') -%> 
<style>
.ebook-main {
    background-color: #fff;
    -webkit-box-shadow: 0 0 4px 2px rgb(189 189 189);
    -moz-box-shadow: 0 0 4px 2px rgba(189,189,189,1);
    box-shadow: 0 0 4px 2px rgb(189 189 189);
    height: 295px;
}
div {
    display: block;
}
.ebook-left {
    float: left;
    margin-right: 0px;
  
}
.ebook-right {
    padding: 17px 15px 0 250px;
}
.ebook-right-inner {
    height: 295px;
   
}
#share-buttons {
    position: absolute;
    bottom: 4px;
    z-index: 10;
}


h1 {
    line-height: 35px;
    margin: 0;
    color: #585858;
}
.ebook-file-info {
    margin-top: 9px;
    font-weight: 300;
    font-size: 15px;
}
.ebook-author {
    font-weight: 300;
    margin-top: 4px;
    max-height: 68px;
    overflow: hidden;
    line-height: 23px;
}
.ebook-tags {
    max-height: 39px;
    text-align: left;
    font-size: 12px;
    line-height: 19px;
    overflow: hidden!important;
    margin-top: 10px;
}
.ebook-buttons {
    margin-right: 6px;
    position: relative;
    top: -70px;
    text-align: right;
    z-index: 2;
}
.ebook-title {
    font-weight: 300;
    line-height: 33px;
    white-space: normal;
    color: #212121;
    font-size: 19px;
    margin: 0 0 0 0;
    max-height: 120px;
    overflow: hidden;
}
.ebook-img {
    width: 210px;
    height: 295px;
    float: left;
}

img {
    vertical-align: middle;
    border-style: none;
}
#similar-files {
    font-weight: 300;
    color: #e59285;
    font-size: 26px;
}
.select-style {
    -webkit-appearance: inherit;
    -moz-appearance: inherit;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(/assets/img/arrow-down.png.pagespeed.ce.JVBy7Ectjb.png);
    background-position: 97% center;
    background-repeat: no-repeat;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    color: #0070a7;
    font-size: 13px;
    margin: 0;
    overflow: hidden;
    padding: 0 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    height: 33px;
}
.ml-1, .mx-1 {
    margin-left: 0.25rem!important;
}
  
    .ml-1, .mx-1 {
    margin-left: 0.25rem!important;
}
    .mr-1, .mx-1 {
    margin-right: 0.25rem!important;
}
.fi-year, .fi-pagecount, .fi-size {
    color: #2f2f2f;
}
.file-img {

    z-index: 10;
    width: 71px;
    height: 98px;
    border-radius: 3px 0 0 3px;
}

.file-info {
    margin-top: 2px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 3px;
}

h2 {
    text-decoration: none;
    padding: 6px 6px 0 0;
    color: #e59285;;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
    line-height: 27px;
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 60px;
    -webkit-transition: all .20s ease-in-out;
    -moz-transition: all .20s ease-in-out;
    transition: all .20s ease-in-out;
    letter-spacing: .5px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a {
    color: #e59285;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

img {
    vertical-align: middle;
    border-style: none;
}

.file-right {
    padding: 0 3px 0 10px;
    overflow: hidden;
    height: 97px;
    line-height: 27px;
    color: #767676;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: .2px;
    word-break: break-word;
}

.file-left {
    float: left;
    margin-right: 5px;
    position: relative;
}

.col-sm {
    height: 100px;
    background: #fff;
    margin-bottom: 17px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    padding: 0;
    font-size: 13px;
   
}
.rating {
  --dir: right;
  --fill: gold;
  --fillbg: rgba(100, 100, 100, 0.15);
  --heart: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.328l-1.453-1.313q-2.484-2.25-3.609-3.328t-2.508-2.672-1.898-2.883-0.516-2.648q0-2.297 1.57-3.891t3.914-1.594q2.719 0 4.5 2.109 1.781-2.109 4.5-2.109 2.344 0 3.914 1.594t1.57 3.891q0 1.828-1.219 3.797t-2.648 3.422-4.664 4.359z"/></svg>');
  --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
  --stars: 5;
  --starsize: 3rem;
  --symbol: var(--star);
  --value: 1;
  --w: calc(var(--stars) * var(--starsize));
  --x: calc(100% * (var(--value) / var(--stars)));
  block-size: var(--starsize);
  inline-size: var(--w);
  position: relative;
  touch-action: manipulation;
  -webkit-appearance: none;
}
[dir="rtl"] .rating {
  --dir: left;
}
.rating::-moz-range-track {
  background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
  block-size: 100%;
  mask: repeat left center/var(--starsize) var(--symbol);
}
.rating::-webkit-slider-runnable-track {
  background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
  block-size: 100%;
  mask: repeat left center/var(--starsize) var(--symbol);
  -webkit-mask: repeat left center/var(--starsize) var(--symbol);
}
.rating::-moz-range-thumb {
  height: var(--starsize);
  opacity: 0;
  width: var(--starsize);
}
.rating::-webkit-slider-thumb {
  height: var(--starsize);
  opacity: 0;
  width: var(--starsize);
  -webkit-appearance: none;
}
.rating, .rating-label {
  display: block;
  font-family: ui-sans-serif, system-ui, sans-serif;
}
.rating-label {
  margin-block-end: 1rem;
}

/* NO JS */
.rating--nojs::-moz-range-track {
  background: var(--fillbg);
}
.rating--nojs::-moz-range-progress {
  background: var(--fill);
  block-size: 100%;
  mask: repeat left center/var(--starsize) var(--star);
}
.rating--nojs::-webkit-slider-runnable-track {
  background: var(--fillbg);
}
.rating--nojs::-webkit-slider-thumb {
  background-color: var(--fill);
  box-shadow: calc(0rem - var(--w)) 0 0 var(--w) var(--fill);
  opacity: 1;
  width: 1px;
}
[dir="rtl"] .rating--nojs::-webkit-slider-thumb {
  box-shadow: var(--w) 0 0 var(--w) var(--fill);
}
</style>
<%- include('./header_dasboard.ejs') -%> 
<%- include ('./sidebar.ejs'); -%>

        <div class="col-lg-9 mb-5">
            <div class="ebook-main" itemprop="mainEntity" >
                <div class="ebook-left">
                    <a href="" rel="nofollow" >
                        <img class="ebook-img" itemprop="image"
                            src="<%= document.thumb ? document.thumb : '/icon/file.png'%>"
                            alt="<%= document.titre%>"
                            title="<%= document.titre %>" border="0">
                    </a>
                </div>
                <div class="ebook-right">
                    <div class="ebook-right-inner">
                        <div id="share-buttons">
                            <div class="addthis_inline_share_toolbox"></div>
                        </div>
                        <span class="ebook-title " ><%= document.titre %></span>
                        <div class="ebook-file-info">
                            <span class="info-green"><%= document.page %>  Pages</span> <span class="m-info">·</span> <span
                                class="info-green"><%= document.annee.getFullYear();%></span> <span class="m-info">·</span>
                            <span class="info-green"><%= document.size.toFixed(2) %> MB</span> <span class="m-info">·</span>
                            <span class="info-green"><%= document.langue %> </span><br>
                        </div>
                        <div class="ebook-author">
                            <% for (auteur of document.auteur ){ %> 
                                <%= auteur["auteur.nom"] %> &nbsp;
                            <% } %> 
                        </div>
                        
                        <div class="ebook-tags">
                            <% for( let i = 0; i < categories.length; i++ ) { %>
                                <i class="fa fa-plus fa-plus-fix mr-1" aria-hidden="true"></i><a
                                href="/category/113" ><%= categories[i] %> </a>
                            <% } %>

                        </div>
                    </div>
                </div>
                <div class="ebook-buttons">
                    <button type="button" id="previewButtonMain" class="btn btn-warning btn-responsive" data-id="58864799"
                        data-preview="/ebook/preview?id=58864799&amp;session=c55ee8a467a370dd11fcf9dcec21f426"
                        data-download-page="/give-and-take-why-helping-others-drives-our-success-d58864799.html"
                        style="font-weight:500;">
                        Preview </button>
                    <span id="download-button"><a id="download-button-link" class="btn btn-primary btn-responsive"
                            href="/give-and-take-why-helping-others-drives-our-success-d58864799.html" rel="nofollow"
                            role="button" style="font-weight:500; color: #fff;">Download</a></span> 
                </div>
            </div>
           <!-- description du document et les commentaire -->
                <div class="product__info__detailed" style="min-height: 500px;">
                    <div class="pro_details_nav nav justify-content-start" role="tablist">
                        <a class="nav-item nav-link active" data-toggle="tab" href="#nav-details" role="tab">Details</a>
                        <a class="nav-item nav-link" data-toggle="tab" href="#nav-review" role="tab">Commentaire</a>
                    </div>
                    <div class="tab__container">
                        <!-- Start Single Tab Content -->
                        <div class="pro__tab_label tab-pane fade show active" id="nav-details" role="tabpanel">
                            <div class="description__attribute">
                                <p><%= document.description %> </p>
                            </div>
                        </div>
                        <!-- End Single Tab Content -->
                        <!-- Start Single Tab Content -->
                        <div class="pro__tab_label tab-pane fade" id="nav-review" role="tabpanel">
                            <div class="blog-details content">
                                <article class="blog-post-details">
                                    <div class="post_wrapper">
                                        <ul class="blog_meta">
                                            <li><a href="#">3 comments</a></li>
                                            <li> / </li>
                                            <li>Tags:<span>fashion</span> <span>t-shirt</span> <span>white</span></li>
                                        </ul>
                                        <ul class="social__net--4 d-flex justify-content-start">
                                            <li><a href="#"><i class="zmdi zmdi-rss"></i></a></li>
                                            <li><a href="#"><i class="zmdi zmdi-linkedin"></i></a></li>
                                            <li><a href="#"><i class="zmdi zmdi-vimeo"></i></a></li>
                                            <li><a href="#"><i class="zmdi zmdi-tumblr"></i></a></li>
                                            <li><a href="#"><i class="zmdi zmdi-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </article>
                                <div class="comments_area">
                                    <h3 class="comment__title"><%= document.comment.length %> COMMENTAIRES                                  
                                         <a onclick="form_show()" id="add_comment" class="d-flex justify-content-end" style="color:black ; cursor: pointer;"><i class="bi bi-plus"></i>add Reviews</a>
                                    </h3>
                                    <div id="comment">
                                        <% for( comment of document.comment ) { %>
                                            <ul class="comment__list" id="comment">
                                                <li>
                                                    <div class="wn__comment">
                                                        <div class="thumb">
                                                            <img src="/images/blog/comment/1.jpeg" alt="comment images">
                                                        </div>
                                                        <div class="content">
                                                            <div class="comnt__author d-block d-sm-flex">
                                                                <span><a href="#"><%= comment['user.nom']  %> <%= comment['user.prenom']  %> </a></span>
                                                                <div class="reply__btn">
                                                                 <% for( let index = 0; index < comment.note; index++ ) { %>
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                                      </svg>
                                                                 <% } %>
                                                                 <% for( let index = 0; index < 5 - comment.note; index++ ) { %>
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                                                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                                                    </svg>
                                                                 <% } %>
                                                                </div>
                                                            </div>
                                                            <small><%= comment.createdAt.toLocaleDateString(undefined, { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })  %>  at <%= comment.createdAt.getHours()  %>h:<%= comment.createdAt.getMinutes()  %>mn:<%= comment.createdAt.getSeconds() %> s</small>
                                                            <p><%= comment.content %> </p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="comment_respond" id="form" style="display: none;">
                                    <% if (locals.flash && locals.flash.error) {%>
                                        <div class="alert alert-danger">
                                            <strong>Error!</strong>
                                            <%= flash.error %>
                                        </div>
                                        <% } %>
                                    <h3 class="reply_title"><small><a href="#">Laissez un commentaire </a></small></h3>
                                    <form class="comment__form" action="/dashboard/file/add_comment" method="post">
                                        <input type="hidden" name="user_id" value="<%= locals.user.id %> " >
                                        <input type="hidden" name="doc_id" value="<%= document.id %> ">
                                        <p>Veiller ecrir un message respectueux sinon vous risquer d'etre bani</p>
                                        <div class="input__box">
                                            <label>Comment</label>
                                            <textarea name="content"></textarea>
                                        </div>
                                        <label class="rating-label"><strong>No JS, using <code>box-shadow</code></strong>
                                            <input
                                              class="rating rating--nojs"
                                              max="5"
                                              step="1"
                                              type="range"
                                              name="note"
                                              value="1">
                                          </label>
                                        <div class="submite__btn">
                                            <button class="btn" onclick="form_show()"> post Comment</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            
                            <!-- <div class="aReview" id="review-1660564866">
                                <b>Reviewer:</b>
                                        <a href="https://archive.org/details/%40alpapie" data-event-click-tracking="ItemReviews|ReviewerLink">alpapie</a>
                                      -
                                <span alt="3.00 out of 5 stars" title="3.00 out of 5 stars"><span class="iconochive-favorite size-75-percent" aria-hidden="true"></span><span class="icon-label sr-only">favorite</span><span class="iconochive-favorite size-75-percent" aria-hidden="true"></span><span class="icon-label sr-only">favorite</span><span class="iconochive-favorite size-75-percent" aria-hidden="true"></span><span class="icon-label sr-only">favorite</span></span>      -
                                August 15, 2022      <br>
                                <b>Subject:</b>
                                un livre pas comme les autre      <div class="breaker-breaker">
                                  c'est un excellent livre que je recommande vraiment      </div>
                            </div> -->
                        </div>
                        <!-- End Single Tab Content -->
                    </div>
                </div>
            <div class="mb-3 mt-3" id="similar-files">
                <font style="vertical-align: inherit;"><span class="hidemobile">
                        <font style="vertical-align: inherit;">Article</font>
                    </span>
                    <font style="vertical-align: inherit;">
                        similaires</font>
                </font><span class="hidemobile">
                    <font style="vertical-align: inherit;"></font>
                </span>
                <div style="float:right;">
                    <select class="select-style" tabindex="9" 
                        style="width: 163px;font-size: 13px;">
                        <option value="">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Filtrer par nombre de pages</font>
                            </font>
                        </option>
                        <option value="1-24">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">1-24 pages</font>
                            </font>
                        </option>
                        <option value="25-50">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">25-50 pages</font>
                            </font>
                        </option>
                        <option value="51-100">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">51-100 pages</font>
                            </font>
                        </option>
                        <option value="100-*">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Plus de 100 pages</font>
                            </font>
                        </option>
                    </select>
                </div>
            </div>
            <% for (document of simdoc){ %>   
                <div class="col-sm align-left">
                    <div class="file-left">
                        <a href="/detailFile/<%= document.id %>"
                            data-id="60737124">
                            <img class="img-zoom file-img"
                                src="<%= document.thumb ? document.thumb : '/icon/file.png'%>"
                                data-original="<%= document.thumbnail %>"
                                alt="<%= document.titre %>"
                                title="<%= document.titre %>"
                                loading="lazy">
                        </a>
                    </div>
                    <div class="file-right">
                        <a href="/dashboard/file/detailFile/<%= document.id %>"
                            data-loc="1">
                            <h2><%= document.titre %></h2>
                        </a>
                        <div class="file-info" data-id="60737124">
                            <span class="fi-pagecount "><%= document.page %>  Pages</span><span class="ml-1 mr-1">·</span><span
                                class="fi-year "><%= document.annee.getFullYear();%> </span><span class="ml-1 mr-1">·</span><span
                                class="fi-size hidemobile"><%= document.size.toFixed(2) %>  MB</span> <br>
                        </div>
                        <% for (auteur of document.auteur ){ %> 
                            <%= auteur["auteur.nom"] %> &nbsp;
                        <% } %> 
                       
                    </div>
                </div>
            <% } %>
        </div>
</div>
</div>
</div>

<script>
let modalchange=function(id){
    let link = '/dashboard/file/delete/'+id;
    $('#linkDelete').attr('href',link);
}
    let form_show=function(){
       let form=document.getElementById('form');
       let comment=document.getElementById('comment');

         if(form.style.display=='none'){
              form.style.display='block';
              comment.style.display='none';
              let add_comment=document.getElementById('add_comment').innerHTML="Voire les commentaires";
        }else{  
            form.style.display='none';
            comment.style.display='block';
            let add_comment=document.getElementById('add_comment').innerHTML='<i class="bi bi-plus"></i>add Reviews';
        }
    }
</script>

<%- include('../footer') ; -%>