<%- include('../header'); -%> 
 
 <!-- Start Bradcaump area -->
 <div class="ht__bradcaump__area bg-image--6">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bradcaump__inner text-center">
                    <h2 class="bradcaump-title">My Account</h2>
                    <nav class="bradcaump-content">
                      <a class="breadcrumb_item" href="index.html">Home</a>
                      <span class="brd-separetor">/</span>
                      <span class="breadcrumb_item active">My Account</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- Start My Account Area -->
<section class="my_account_area pt--80 pb--55 bg--white">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-8">
                <div class="my__account__wrapper">
                    <% if (locals.flash && locals.flash.error) {%> 
                        <div class="alert alert-danger">
                            <strong>Error!</strong><%= flash.error %>
                        </div>
                    <% } %>
                    <% if (locals.flash && locals.flash.success) {%> 
                        <div class="alert alert-success">
                            <strong>good!</strong><%= flash.success %>
                        </div>
                    <% } %>
                    <h3 class="account__title">Register</h3>
                    <form action="" method="post">
                        <div class="account__form">
                            <div class="row">
                                 <input type="hidden" name="role" value="user">
                                <div class="col-lg-6 ">
                                    <div class="input__box">

                                        <label>Prenom <span>*</span></label>
                                        <input type="text" name="prenom" value="<%= data? data.prenom:''  %>">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input__box">
                                        <label>Nom <span>*</span></label>
                                        <input type="text" name="nom" value="<%= data? data.nom :'' %>">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input__box">
                                        <label>Email <span>*</span></label>
                                        <input type="email" name="email" value="<%= data? data.email :'' %>">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input__box">
                                        <label>Ecole ou ntreprise de travail</label>
                                        <input type="text" name="entreprise" value="<%= data? data.entreprise :'' %>" >
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input__box">
                                        <label>adress 1 </label>
                                        <input type="text" name="adress" value="<%= data? data.adress :'' %>" >
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input__box">
                                        <label>adress 2</label>
                                        <input type="text" name="adress1" value="<%= data? data.adress1 :'' %>" >
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input__box">
                                        <label>Numero</label>
                                        <input type="text" name="numero" minlength="9" maxlength="9" value="<%= data? data.numero :'' %>" >
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input__box">
                                        <label>Mot de passe</label>
                                        <input type="password" name="password"  minlength="6" placeholder="min 6 caractaire">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                   
                                </div>
                                <div class="col-lg-6">
                                    <div class="input__box">
                                        <label>Confirmer le mot de passe </label>
                                        <input type="password" name="passwordverif" minlength="6" placeholder="min 6 caractaire">
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="input__box">
                                <label>Email address <span>*</span></label>
                                <input type="email">
                            </div>
                            <div class="input__box">
                                <label>Password<span>*</span></label>
                                <input type="password">
                            </div> -->
                            <div class="form__btn">
                                <button>Register</button>
                            </div>
                            <a class="forget_pass d-flex justify-content-end align-items-center" href="/user/connection">j'ai deja un compte</a>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../footer'); -%> 
